<extend name="base" />
<block name="page-wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        商家基础信息 <!-- <small>Statistics Overview</small> -->
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> 商家基础信息
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

           <!--  <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                    </div>
                </div>
            </div> -->
            <!-- /.row -->

            <div class="row">
                <div class="col-sm-offset-0 col-md-6">
                    <!-- <h2>Striped Rows</h2> -->
                    <table class="table table-hover  table-striped">
                        <thead>
                            <tr>
                                <th>商家信息名称</th>
                                <th>详细信息内容</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>商家名称</td>
                                <td>{$agentdata['agent_name']}</td>
                               
                            </tr>
                            <tr>
                                <th>账号名</th>
                                <td>{$agentdata['contract_loginname']}</td>
                            </tr>
                            <tr>
                                <td>合同号</td>
                                <td>{$agentdata['contract']}</td>
                            </tr>
                            
                            <tr>
                                <td>所在位置</td>
                                <td>{$agentdata['province']}省 {$agentdata['city']} 市</td>
                            </tr>
                            <tr>
                                <td>详细地址</td>
                                <td>{$agentdata['address']}</td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-offset-0 col-md-6">
                    <!-- <h2>Striped Rows</h2> -->
                    <table class="table table-hover  table-striped">
                        <thead>
                            <tr>
                                <th>商家信息名称</th>
                                <th>详细信息内容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>审核状态</td>
                                <td>{$agentdata['agent_state']}</td>
                            </tr>
                            <tr>
                                <td>注册时间</td>
                                <td>{$agentdata['reg_date']}</td>
                            </tr>
                            <tr>
                                <td>商家负责人</td>
                                <td>{$agentdata['contactor']}</td>
                            </tr>
                           
                            <tr>
                                <td>负责人电话</td>
                                <td>{$agentdata['contactor_tel']}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 加盟信息  -->
            <if condition="$agentdata['agent_state'] eq '已通过' ">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            商家加盟信息 <!-- <small>Statistics Overview</small> -->
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> 商家合同信息
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <!-- <h2>Striped Rows</h2> -->
                        <table class="table table-hover  table-striped">
                            <thead>
                                <tr>
                                    <th>合同信息名称</th>
                                    <th>详细信息内容</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>营业执照企业名</td>
                                    <td>{$agentdata['trade_name']}</td>
                                </tr>
                                <tr>
                                    <td>营业执照号</td>
                                    <td>{$agentdata['trade_no']}</td>
                                </tr>
                                <tr>
                                    <td>合同签订日期</td>
                                    <td>{$agentdata['contract_signdt']}</td>
                                    
                                </tr>
                                <tr>
                                    <td>合同开始时间</td>
                                    <td>{$agentdata['contract_begindt']}</td>
                                </tr>
                                <tr>
                                    <td>合同截止时间</td>
                                    <td>{$agentdata['contract_enddt']}</td>
                                </tr>
                                <tr>
                                    <td>合同经办人</td>
                                    <td>{$agentdata['contract_sign_name']}</td>
                                   
                                </tr>
                                <tr>
                                    <td>财务联系人</td>
                                    <td>{$agentdata['contactor_finance']}</td>
                                   
                                </tr>
                                <tr>
                                    <td>财务联系人电话</td>
                                    <td>{$agentdata['contactortel_finance']}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <!-- <h2>Striped Rows</h2> -->
                        <table class="table table-hover  table-striped">
                            <thead>
                                <tr>
                                    <th>合同信息名称</th>
                                    <th>详细信息内容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>开户行账号</td>
                                    <td>{$agentdata['account1_no']}</td>
                                </tr>
                                <tr>
                                    <td>账号开户名</td>
                                    <td>{$agentdata['account1_name']}</td>
                                </tr>
                                <tr>
                                    <td>开户行银行名称</td>
                                    <td>{$agentdata['account1_bankname']}</td>
                                </tr>

                                <tr>
                                    <td>账号开户名2</td>
                                    <td>{$agentdata['account2_no']}</td>
                                </tr>
                                <tr>
                                    <td>开户行账号2</td>
                                    <td>{$agentdata['account2_no']}</td>
                                </tr>
                                <tr>
                                    <td>开户行银行名称2</td>
                                    <td>{$agentdata['account2_no']}</td>
                                </tr>

                                <tr>
                                    <td>支付宝账号</td>
                                    <td>{$agentdata['zhifubao']}</td>
                                </tr>
                                <tr>
                                    <td>微信支付账号</td>
                                    <td>{$agentdata['wxpay']}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </if>

        </div>
        <!-- /.container-fluid -->
    </div>
</block>