<extend name="base" />
<block name="page-wrapper">
	<div id="page-wrapper">
		<div class="container-fluid">
        	<!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        商家加盟 <!-- <mdall>Statistics Overview</small> -->
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> 商家加盟信息提交
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
			<div class="panel panel-default">
			<!-- Default panel contents -->
				<div class="panel-heading">商家加盟资料</div>
		<!-- 		<div class="panel-body">
				</div> -->
				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<label for="contractSignName" class="col-md-3">合同经办人</label>
							<div class="col-md-5"><input type="text" class="form-control" id="contractSignName" name="contractsignname" placeholder="合同经办人姓名" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="tradeNo" class="col-md-3">营业执照号</label>
							<div class="col-md-5"><input type="text" class="form-control" id="tradeNo" name="tradeno" placeholder="营业执照号" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="tradeName" class="col-md-3">营业执照企业名</label>
							<div class="col-md-5"><input type="text" class="form-control" id="tradeName" name="tradename" placeholder="营业执照企业名" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<form id="imgform">
								<label for="tradePic" class="col-md-3">营业执照扫描件</label>
								<div class="col-md-5"><div id="imgview"></div><p id="imgpath" style="display: none;"></p><input type="file" class="" id="tradePic" name="tradepic" placeholder="营业执照 照片" required="required" accept="image/*"  runat="server"></div>
							</form>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="accountant" class="col-md-3">财务联系人</label>
							<div class="col-md-5"><input type="text" class="form-control" id="accountant" name="accountant" placeholder="财务负责人姓名" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="accountantTel" class="col-md-3">财务联系人电话</label>
							<div class="col-md-5"><input type="number" class="form-control" id="accountantTel" name="accountanttel" placeholder="财务联系人电话" required="required"></div>
						</div>
					</li>
				</ul>

				<div class="panel-heading">财务信息</div>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<label for="accountNo1" class="col-md-3">开户行账号</label>
							<div class="col-md-5"><input type="number" class="form-control" id="accountNo1" name="accountno1" placeholder="开户行账号" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="accountName1" class="col-md-3">账户开户名</label>
							<div class="col-md-5"><input type="text" class="form-control" id="accountName1" name="accountname1" placeholder="账户开户名" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="accountBankname1" class="col-md-3">账户开户行</label>
							<div class="col-md-5"><input type="text" class="form-control" id="accountBankname1" name="accountbankname1" placeholder="账户开户行" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="accountNo2" class="col-md-3">备用开户行账号</label>
							<div class="col-md-5"><input type="number" class="form-control" id="accountNo2" name="accountno2" placeholder="备用开户行账号(可选)" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="accountName2" class="col-md-3">备用账户开户名</label>
							<div class="col-md-5"><input type="text" class="form-control" id="accountName2" name="accountname2" placeholder="备用账户开户名(可选)" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="accountBankname2" class="col-md-3">备用账户开户行</label>
							<div class="col-md-5"><input type="text" class="form-control" id="accountBankname2" name="accountbankname2" placeholder="备用账户开户行(可选)" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="zhifubao" class="col-md-3">支付宝账号</label>
							<div class="col-md-5"><input type="text" class="form-control" id="zhifubao" name="zhifubao" placeholder="支付宝账号(可选)" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<label for="wxpay" class="col-md-3">微信支付账号</label>
							<div class="col-md-5"><input type="text" class="form-control" id="wxpay" name="wxpay" placeholder="微信支付账号(可选)" required="required"></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-offset-2 col-md-2">
								<button id="submitbtn" type="button" class="btn btn-success btn-block ">确定提交</button>
							</div>
							<div class="col-md-offset-1 col-md-2">
								<button id="resetbtn" type="reset" class="btn btn-info btn-block ">重置</button>
							</div>
						</div>
					</li>


				</ul>
			</div>

		</div>
	</div>
</block>	
<block name="page-js">
	<script>
		$("#tradePic").change(function(){
			var file = this.files[0];	//选择上传的文件
			var r = new FileReader();
			r.readAsDataURL(file);	//Base64
			$(r).load(function(){
				$('#imgview').html('<img id="tradeimg" src="'+ this.result +'" width=200px; /> <button id="upImgBtn" type="button" class="btn btn-danger btn-xs">上传图片</button>');
	            upfile();
	        });
    	});
    	function upfile(){
    		$("#upImgBtn").click(function(e){
				e.preventDefault();
				$("#upImgBtn").attr("disabled","disabled");
				var formData = new FormData($( "#imgform" )[0]);
				$.ajax({
					url: '__ROOT__/Agent/joinmember',
					type: 'POST',
					data: formData,
					// async: false,
					async: true,
					cache: false,
					contentType: false,
					processData: false,
					success: function (returndata) {
						alert("图片上传成功!");
						$("#tradePic").hide();
						$("#upImgBtn").attr("disabled",false).text("重新上传");
						$("#upImgBtn").unbind();
						$("#imgpath").val(returndata.savename);
						//alert($("#imgpath").val());
						$("#upImgBtn").click(function(e){
							//删除img->隐藏button->显示input
							$("#tradeimg").remove();
							$("#upImgBtn").remove();
							$("#tradePic").show();
							$("#tradePic").val("");
							$("#imgpath").val("");
							//alert($("#imgpath").val());
							//$("#tradePic").show().attr('value','');
						});
				    },
				    error: function (returndata) {
						alert("图片上传失败,请将图片控制在3M以内,并且用 jpg | gif | png | jpeg格式");
				    }
				  });
	    	});
    	};
    	$("#resetbtn").click(function(e){
    		$('input').val('');
    		$("#tradeimg").remove();
			$("#upImgBtn").remove();
			$("#tradePic").show();
    	});
    	$("#submitbtn").click(function(e){
    		e.preventDefault();
    		var contractSignName = $("#contractSignName").val() ? $("#contractSignName").val() : formwarring("合同经办人");
    		var tradeNo = $("#tradeNo").val() ? $("#tradeNo").val() : formwarring("营业执照号");
    		var tradeName = $("#tradeName").val() ? $("#tradeName").val() : formwarring("营业执照企业名");
    		var imgpath = $("#imgpath").val() ? $("#imgpath").val() : formwarring("营业执照扫描件");
    		var accountant = $("#accountant").val() ? $("#accountant").val() : formwarring("财务联系人");
    		var accountantTel = $("#accountantTel").val() ? $("#accountantTel").val() : formwarring("财务联系人电话");
    		var accountNo1 = $("#accountNo1").val() ? $("#accountNo1").val() : formwarring("开户行账号");
    		var accountName1 = $("#accountName1").val() ? $("#accountName1").val() : formwarring("账户开户名");
    		var accountBankname1 = $("#accountBankname1").val() ? $("#accountBankname1").val(): formwarring("账户开户行");
    		var accountNo2 = $("#accountNo2").val();
    		var accountName2 = $("#accountName2").val();
    		var accountBankname2 = $("#accountBankname2").val();
    		var zhifubao = $("#zhifubao").val();
    		var wxpay = $("#wxpay").val();
    		$.post("__ROOT__/Agent/joinmember",
    				{
    					contract_sign_name:contractSignName,
    					trade_no:tradeNo,
    					trade_name:tradeName,
    					trade_pic:imgpath,
    					contactor_finance:accountant,
    					contactortel_finance:accountantTel,
    					account1_no:accountNo1,
    					account1_name:accountName1,
    					account1_bankname:accountBankname1,
    					account2_no:accountNo2,
    					account2_name:accountName2,
    					account2_bankname:accountBankname2,
    					zhifubao:zhifubao,
    					wxpay:wxpay
    				},
    				function(ret){
    					if ("" != ret.error ) {
							alert(ret.error);
							//$("#errlabel").text(ret.error);
						}
						else{
							alert("审核资料提交成功!");
							window.location.href="__ROOT__/Agent/index";
						}
    				}

    			);
    	});
    	function formwarring(errname){
    		alert(errname+" 不能为空或类型不符,请将表格填写完整!");
    		throw "";
    	}
    </script>

</block>