<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>响动健身</title>
	<meta name="keywords" content="响动健身" />
	<meta name="description" content="响动健身" />
	<meta content="yes" name="apple-mobile-web-app-capable" />  
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />  
	<meta content="telephone=no" name="format-detection" />
	<link rel="shortcut icon" href="__ROOT__/Public/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Wechat/css/common.css" />
	<script type="text/javascript" src="__ROOT__/Public/Wechat/js/jquery.min.js"></script>

</head>
<body>
	<div class="main">
	 <!-- header -->
	 <div id="top">
		<a class="ui-title"><font style="color:white;"><h3>响动健身</h3></font> </a>
	 </div>
	<!-- header END -->	
	 
		<!-- banner -->
		<div class="bgstyle banner" style="margin-top: 45px;">
		   <div class="swiper-container bannerswiper">
					<div class="swiper-wrapper">
		        <div class="swiper-slide bawarp"> <img  src="__ROOT__/Public/Wechat/img/adv/1.jpg" alt='1' /></div>         
		        <div class="swiper-slide bawarp"> <img  src="__ROOT__/Public/Wechat/img/adv/2.jpg" alt='2' /></div>
		        <div class="swiper-slide bawarp"> <img  src="__ROOT__/Public/Wechat/img/adv/3.jpg" alt='3' /></div>
		        <div class="swiper-slide bawarp"> <img  src="__ROOT__/Public/Wechat/img/adv/4.jpg" alt='4' /></div>
		        <div class="swiper-slide bawarp"> <img  src="__ROOT__/Public/Wechat/img/adv/5.jpg" alt='5' /></div>
		        <div class="swiper-slide bawarp"> <img  src="__ROOT__/Public/Wechat/img/adv/6.jpg" alt='6' /></div>
					</div>
			  <div class="pagination"></div>
		    </div>
		    <h3 style="margin-left: 10px;font-size:18px;color:#CC0033;">响动健身卡,一卡通全国</h3>
		    <h3 style="margin-left: 10px;font-size:16px;">响动健身卡,是可以在全国<strong style="color:#CC0033;">5</strong>个城市、<strong style="color:#CC0033;">2148</strong>家响动授权健身房使用的虚拟健身卡，一次购买，多店异地通用。</h3>
		</div>

		<!-- 栏目 -->
		<div class="bgstyle indexsub">
			<ul>
					<li class="s1 bg1">
						<a href="#">
							<div class="subtype">
								<em>响动月卡</em>
								<span>199/4次</span>
								<s></s>
							</div>
						</a>
					</li>		           
					<li class="s2 bg2">
						<a href="#"> 
					    <div class="subtype">
								<em>响动年卡</em>
								<span>199/4次</span>
								<s></s>
							</div>
						</a>
					</li>			        
					<li class="s4 bg4">
						<a href="#">
							<div class="subtype">
								<em>响动年卡</em>
								<span>222/6次</span>
								<s></s>
							</div>
						</a>
					</li>			     
					<li class="s3 bg3">
						<a href="#"> 
						   <div class="subtype">
								<em>响动年卡</em>
								<span>266/8次</span>
								<s></s>
						   </div>
					  </a>
					</li>
			</ul>
			<h3 style="margin-left: 10px;font-size:18px;color:#CC0033;">响动优享,会员特价</h3>
			<h3 style="margin-left: 10px;font-size:12px;">通过"响动"购买以下品牌健身房、瑜伽馆、游泳馆年卡可获得最大优惠</h3><br>
		    <ul>
		    	<li style="width:33%;float:left;"> <img style="width: 100%;" src="__ROOT__/Public/Wechat/img/adv/11.jpg" /></li>
		    	<li style="width:33%;float:left;"> <img style="width: 100%;" src="__ROOT__/Public/Wechat/img/adv/22.jpg" /></li>
		    	<li style="width:33%;float:left;"> <img style="width: 100%;" src="__ROOT__/Public/Wechat/img/adv/33.jpg" /></li>
		    </ul><br><br>
		</div>

   	<!--<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc9dabaae9fd22f2b&redirect_uri=http://www.rc-century.com/WeiXin/index.php?m=Wechat&a=index&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect">点击授权</a>-->
   	<br><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
   	<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx4e892e84ce5a315f&redirect_uri=http://www.lifecare.cc/Wechat/bindphone&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect">点击授权</a>   	

		    <div class="bgstyle indexsub" style="text-align: center;">
		    	<a href="__ROOT__/Wechat/joinus/wx_openid/<{$wx_openid}>" type="button" class="msubm radius5" ><div style="border-radius: 4px;background-color:#EF1C1C;color: white;">申请加盟响动</div></a>
		    	<!--
		    	<div style="width:33%;float:left;"></div>
		    	<div style="width:33%;float:left;"><a href="__ROOT__/Wechat/wx_openid/<{$wx_openid}>" type="button" class="msubm radius5" ><div style="text-align:center;line-height:30px;height:40px;width:100%;background-color: #EF1C1C;color:#FAF5F5;border-radius: 5px;">申请加盟响动</div></a></div>
		    	<div style="width:33%;float:left;"></div>-->
		    </div>
			
		<!-- 栏目 END -->

	</div>
	
	<script src="__ROOT__/Public/Wechat/js/idangerous.swiper-2.1.min.js" type="text/javascript"></script>
	<script>
	  var mySwiper = new Swiper('.swiper-container',{
	    pagination: '.pagination',
	    loop:true,
	    grabCursor: true,
	    paginationClickable: true,
			autoplay: 5000
	  });
	  var mySwiper = new Swiper('.hotswiper',{
		paginationClickable: true,
	    slidesPerView: 'auto'
	  });
	</script>

</body>
</html>
