<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
	<meta content="telephone=no" name="format-detection" />
	<title>查询结果</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Wechat/css/common.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Wechat/css/other.css" />
		
</head>
<body>
	<div class="clearfix">
  </div>
  <div id="sts">
  	<div><h1 style="margin:15px;">查询签约店如下:</h1>
		</div>
  </div>
  
  <if condition="($rowCount gt 0) ">
	  <!-- 卡片列表 -->
		<div class="listgoods" style="margin-top:5px;">
				<volist name="list" id="vo">
					<dl class="bgstyle">
	        	<a href="__ROOT__/Wechat/shopinfo/id/<{$vo.id}>/lng/<{$lng}>/lat/<{$lat}>" >
	        		<div>
	        			<{$vo.shopname}>
	        			<strong style="float:left">
	        			</strong>
	        		</div>
	        	</a>
					</dl>
				</volist>		
			
				<!-- 分页 -->
				<div class="page bgstyle clearfix clear">
					<div><{$page}></div>
				</div>
				<!-- 分页 END -->	
		</div>
	<else />
		<div class="bgstyle indexsub">
			真抱歉,没查到您要的记录！
		</div>
	</if>
	
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		var checkJsApiSupport = false;
	  /*
	   * 注意：
	   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
	   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
	   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
	   *
	   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
	   * 邮箱地址：weixin-open@qq.com
	   * 邮件主题：【微信JS-SDK反馈】具体问题
	   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
	   */
	  wx.config({
	      debug: false,
	      appId: '<{$appId}>',
	      timestamp: <{$timestamp}>,
	      nonceStr: '<{$nonceStr}>',
	      signature: '<{$signature}>',
	      jsApiList: [
	        'checkJsApi',
	        'onMenuShareTimeline',
	        'onMenuShareAppMessage',
	        'onMenuShareQQ',
	        'onMenuShareWeibo',
	        'hideMenuItems'
	      ]
	  });
	  
	  wx.ready(function () {
	    wx.checkJsApi({
	      jsApiList: [
	        'getLocation',
	        'openLocation'
	      ],
	      success: function (res) {
	       	//alert(JSON.stringify(res));
					//alert(res.errMsg);
					checkJsApiSupport = true;
	      }
	    });
	    //屏蔽右上角菜单
	    //wx.hideOptionMenu();
		
	  });
	  
		wx.error(function (res) {
		  alert(res.errMsg+',请确认定位是否打开');
		});	  
	</script>	
</body>
</html>
