<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
	<meta content="telephone=no" name="format-detection" />
	<title>响动卡包</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Wechat/css/common.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Wechat/css/other.css" />

</head>
<body>
	<div class="clearfix">
  </div>
  <div id="mcover" onclick="document.getElementById('mcover').style.display='none';"><img src="__ROOT__/Public/Wechat/img/guide.png"></div>	
  <div id="sts">
  	<div><h1 style="margin:15px;">您购买过<font style="font-weight:bold;color:#F49D46">&nbsp <{$totalbuynums}> &nbsp</font>张响动健身卡
				<div style="width:40px;margin-left:210px;margin-top: -21px;text-align: center;border: 1px solid #F49D46;">
		    	<a href="http://wd.koudai.com/s/312599354" type="button" id="btnSearch" class="radius5" ><div style="border-radius: 4px;color:#F49D46;background-color:white;">购买</div></a>
		    </div></h1>
		</div>
  </div>
  
  <div class="bgstyle indexsub">
			<ul>
					<li style="width:25%;float: left;">
						<a href="__ROOT__/Wechat/usercards/wx_openid/<{$wx_openid}>">
							<div style="font-weight:bold;text-align: center;width:90%">
								已激活
							</div>
						</a>
					</li>
					<li style="width:25%;float: left;">
						<a href="#">
							<div style="font-weight:bold;text-align: center;border-bottom:3px solid #F49D46;width:90%">
								未激活
							</div>
						</a>
					</li>						
			</ul>
	</div>
  
  <!-- 卡片列表 -->
	<div class="listgoods"style="margin-top:5px;">
			<volist name="list" id="vo">
				<dl class="bgstyle">
        		<div>
        			<input type="radio" name="cardno" id="cardno" value="<{$vo.card_code}>" checked="true">卡号:<{$vo.card_code}>&nbsp &nbsp &nbsp剩余次数:<{$vo.card_leftnums}>

							<switch name="vo.card_type">
							    <case value="XDYK199"><p style="font-weight:bold">卡片类型:响动4次月卡 <font style="color:#F49D46;"> ¥199</font> </p></case>
							    <case value="XDNK199"><p style="font-weight:bold">卡片类型:响动4次年卡 <font style="color:#F49D46;"> ¥199</font> </p></case>
							    <case value="XDNK222"><p style="font-weight:bold">卡片类型:响动6次年卡 <font style="color:#F49D46;"> ¥222</font> </p></case>
							    <case value="XDNK266"><p style="font-weight:bold">卡片类型:响动8次年卡 <font style="color:#F49D46;"> ¥266</font> </p></case>
							    <case value="XDNK299"><p style="font-weight:bold">卡片类型:响动10次年卡 <font style="color:#F49D46;"> ¥299</font> </p></case>
							</switch>

							<p>购买时间:<{$vo.order_paydt}></p><br/>

				</dl>
			</volist>		
		
			<!-- 分页 -->
			<div class="page bgstyle clearfix clear">
				<div><{$page}></div>
			</div><br/>
			<!-- 分页 END -->	
			<div style="text-align:center;">
							<ul>
									<li style="width:25%;float: left;margin-left:10px">
										<a href="#" type="button" id="btnActive" class="radius5" >
											<div style="text-align: center;border: 1px solid #F49D46;border-radius: 4px;color:#F49D46;background-color:white;">激活</div>
										</a>
									</li>
									
									<li style="width:25%;float: left;margin-left:10px">
										<a href="#" type="button" id="btnGift" >
											<div style="text-align: center;border: 1px solid #F49D46;border-radius: 4px;color:#F49D46;background-color:white;">转赠</div>
										</a>
									</li>
							</ul>			
			</div>			
	</div>

	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		var checkJsApiSupport = false;
		var card_code='';
		var obj=document.getElementsByName("cardno");
		for(i=0;i<obj.length;i++){if(obj[i].checked){card_code=obj[i].value;break;}}		
		
	  /*
	   * 注意：
	   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
	   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
	   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
	   *
	   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
	   * 邮箱地址：weixin-open@qq.com
	   * 邮件主题：【微信JS-SDK反馈】具体问题
	   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
	   */
	  wx.config({
	      debug: false,
	      appId: '<{$appId}>',
	      timestamp: <{$timestamp}>,
	      nonceStr: '<{$nonceStr}>',
	      signature: '<{$signature}>',
	      jsApiList: [
	        'checkJsApi',
	        'onMenuShareTimeline',
	        'onMenuShareAppMessage',
	        'onMenuShareQQ',
	        'onMenuShareWeibo',
	        'hideMenuItems'
	      ]
	  });
	  
	  wx.ready(function () {
	    wx.checkJsApi({
	      jsApiList: [
	        'getLocation',
	        'openLocation'
	      ],
	      success: function (res) {
	       	//alert(JSON.stringify(res));
					//alert(res.errMsg);
					checkJsApiSupport = true;
	      }
	    });
					    
	    //屏蔽右上角菜单
	    //wx.hideOptionMenu();
	    
	    // 分享微信好友
	    document.querySelector('#btnGift').onclick = function () {

				if(""==card_code){alert("请选择一张卡片");return;}

	    	document.getElementById('mcover').style.display='block';
			}
			
			wx.onMenuShareAppMessage({
					title: '卡片转赠',
					desc: '将响动一卡通转赠给朋友',
					link: 'http://www.lifecare.cc/Wechat/activecard/cardcode/'+card_code,
					imgUrl: 'http://www.lifecare.cc/Public/img/gift.png',
					trigger: function (res) {
						//alert('用户点击发送给朋友');
					},
					success: function (res) {
						alert('转赠成功');
						//alert(JSON.stringify(res));
						card_code='';
					},
					cancel: function (res) {
						//alert('已取消');
						card_code='';
					},
					fail: function (res) {
						alert(JSON.stringify(res));
						card_code='';
					}
			});			
			
			// 分享朋友圈
			wx.onMenuShareTimeline({
	      title: '响动一卡通转赠',
	      link: 'http://www.lifecare.cc/Wechat/activecard/cardcode/'+card_code,
	      imgUrl:  'http://www.lifecare.cc/Public/img/gift.png',
	      trigger: function (res) {
	        //alert('用户点击分享到朋友圈');
	      },
	      success: function (res) {
	        //alert('已分享');
	      },
	      cancel: function (res) {
	        //alert('已取消');
	      },
	      fail: function (res) {
	        alert(JSON.stringify(res));
	      }
    	});			
	  });
	  
		wx.error(function (res) {
		  alert(res.errMsg+',请确认定位是否打开');
		});

		document.querySelector('#btnActive').onclick= function(){
	    	var card_code ="";
				var obj=document.getElementsByName("cardno");
				for(i=0;i<obj.length;i++)
				{
					if(obj[i].checked)
					{
				      card_code=obj[i].value;break;
				  }
				}
				if(""==card_code){alert("请选择一张卡片");return;}
	    	self.location="__ROOT__/Wechat/activecard/cardcode/"+card_code;
		}

	</script>	
</body>
</html>
