<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
	<meta content="telephone=no" name="format-detection" />
	<title>健身记录</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Wechat/css/common.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Wechat/css/other.css" />
	<script src="__ROOT__/Public/Wechat/js/jquery.min.js" type="text/javascript"></script>
	<script src="__ROOT__/Public/Wechat/js/alert.js" type="text/javascript"></script>	
	<script src="__ROOT__/Public/Wechat/js/city.js" type="text/javascript"></script>	
<body>
	<div class="clearfix">
  </div>
  
  <!-- 列表 -->
  <if condition="($rowCount gt 0) ">
		<div class="listgoods" style="margin-top:5px;">
				<volist name="list" id="vo">
					<dl class="bgstyle">
						<li>卡号:<{$vo.card_code}>,消费地方:<{$vo.shopname}>&nbsp&nbsp城市:<{$vo.shopcity}><strong style="float:right">使用期时间:<{$vo.used_dt}></strong></li>
					</dl>
				</volist>		
			
				<!-- 分页 -->
				<div class="page bgstyle clearfix clear">
					<div><{$page}></div>
				</div>
				<!-- 分页 END -->	
		</div>
	<else />
		<div class="bgstyle indexsub">
			响动er,您目前还没有健身记录。马上动起来:)
		</div>
	</if>
</div>
</body>
</html>
